@import "../_mixin";
@import "../_variables";

.report {
    height: 100vh;
    background: linear-gradient(rgba(50,50,50,1) 10%, rgba(187, 155, 113, 1));
    align-items: center;
    flex-direction: column;
    @include center;

    .title {
        flex-direction: column;
        line-height: 1.2;
        @include center;
        @include text-contain;
        margin-bottom: 20px;
        
        h1 {
            @include title-text;
        }

        p {
            @extend h1;
            font-size: 1.5rem;
        }

        button {
            text-decoration: none;
            color: white;
            margin: 0 auto;
            @include title-text;
        }
    }

    form{
        width: 90%;
    }

    .alien-info {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        select {
            @include dropdown;
            width: 100%;
            -webkit-appearance: none;
            margin-bottom: 25px;
        }

        textarea {
            width: 100%;
            color: #3769A5;
            font-size: 1.3rem;
            resize: none;

        }
        ::placeholder {
            @extend textarea;
        }
    }
    
    .submitting .ng-invalid {
        animation: alert .5s infinite;
        @include alert;
    }
}