@import "../_mixin";
@import "../_variables";

body {
    height: 100vh;
    background: linear-gradient(rgba(50,50,50,1) 10%, rgba(187, 155, 113, 1));
    align-items: center;
    flex-direction: column;
    @include center;
    display: flex;
    justify-content: space-around;
}

h1 {
    @include title-text;
    font-weight: 500;
    text-transform: uppercase;
    font-family: $main-font;
    color: lightgrey;
}

a{
    font-size: 8rem;
    margin: 20px;
    text-decoration: none;
}

p{
    font-family: $main-font;
    font-weight: 100;
    font-size: 1.5rem;
    text-transform: capitalize;
}