@mixin center {
    display: flex;
    justify-content: center;
}

@mixin text-contain {
    height: 100px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

@mixin title-text{
    font-size: 2.9rem;
    font-weight: 100;
    text-transform: capitalize;
}

@mixin dropdown{
    height: 30px;
    border: none;
    border-bottom: 1px solid white;
    background: 0 0;
    color: #f39c12;
    font-size: 1.5rem;
    text-transform: capitalize;
    border-radius: 0;
}

@mixin alert {
     @keyframes alert {
        0% { box-shadow: 0px 0px 0px 0px rgba(255,0,0,.5); }
        100% { box-shadow: 0px 0px 0px 15px rgba(255,0,0,0); }
     }
}