.page-template {
    height: 100vh;
    width: 100vw;
    background-color: black;

    :required {
        animation: required .5s infinite;
    }

    @keyframes required {
        0% { box-shadow: 0px 0px 0px 0px rgba(255,0,0,1); }
        100% { box-shadow: 0px 0px 0px 12px rgba(255,0,0,0); }
    }
}

