@import "_mixin";
@import "_variables";

section {
    height: 100vh;
    font-family: $main-font;
    @include fade-in;
    @include even-center;
}

h1{
    @include title-text;
    text-transform: uppercase;
}

