@import "../_mixin";
@import "../_variables";

.encounter {
    height: 100vh;
    background-color: white;
    position: relative;

    .title {
        @include center;
        @include text-contain;
        height: 130px;
        flex-direction: column;

        p {
            color: black;
            @include title-text;
        }

        h3 {
            color: black;
            font-weight: 100;
            font-size: 1.5rem;
            text-transform: capitalize;
        }
    }
    .encounter-page {
        padding: 20px;
        height: 370px;
        overflow-y: scroll;
        color: black;
        font-family: $main-font;
        font-size: 1.5rem;
        font-weight: 100;

        li{
            padding-bottom: 20px;
        }
    }
    .footer {
        background-color: black;
        @include text-contain;
        @include center;
        height: 25%;
        width: 100vw;
        position: absolute;
        bottom: 0;

        .report-link {
            text-align: center;
            @include title-text;
            text-decoration: none;
            color: white;
        }
    }
}