<div class="encounter">
  <div class="title">
    <p>recent encounters</p>
    <h3>see an alien.. report it.</h3>
  </div>

  <div class="report">
    <p>
      2016-11-18 - The Predator
Rubbed mud on self to hide from heat sensors.
2016-11-18 - Special K
Hunted the alien known as "Special K". He offered donuts for his life. Took donuts, killed anyway.
2016-11-18 - Octospider
Removed the legs, made some soup.
2016-11-18 - Special K
Saw Ermil eating all of the Doughnuts. Told him to eat a carrot! He did.
2016-11-18 - Octospider
asf
2016-11-18 - Octospider
4dsxz
2016-11-18 - Endomorph
test test
2015-10-01 - Octospider
Web developer.
2016-11-18 - Special K
Punch in face.
2016-11-18 - Special K
Punch in face.
2016-11-18 - Special K
Kick in face.
2016-11-18 - Special K
HEHEHE
2016-11-18 - Special K
HEHEHE
2016-11-18 - Special K
HEHEHE
2016-11-18 - Special K
hehe
2016-11-18 - Special K
Stole his dougnuts.
2016-11-18 - Special K
jhnjhn
2016-11-18 - Endomorph
qweweqw
2016-11-18 - Special K
12312321
2016-11-18 - Endomorph
hjkhkhlkglg
2016-11-18 - The Predator
213123123
2016 - 11 - 18 - Endomorph
fffffhhhhh
2016 - 11 - 18 - Endomorph
ddkkkukuku
2016-11-18 - Special K
fyu8uo
2016-11-18 - Endomorph
dfadsf
2016-11-18 - Donald Trump
BUILT A WALL
2016-11-18 - Octospider
What's that?
2015-11-02 - Special K
I see a drunk person.
2016-11-19 - Endomorph
kajhfkajhf
2015-12-09 - Endomorph
Beat him up
2015-12-09 - Endomorph
Beat him up
2016-11-19 - Special K
dsdsdvsdvsv
2016-11-19 - Donald Trump
Is a douche.
2016-11-19 - Endomorph
Asked Donald Trump the hard questions.
2016-11-19 - Yoda
Do. Or do not. There is no try.
2016-11-19 - Endomorph
Aaa
2015-11-02 - Octospider
kill him !
2016-11-19 - Endomorph
dadasd
2016-11-19 - Endomorph
acasdasxasx
2015-11-02 - Octospider
s
2016-11-19 - Special K
afsaasdsad
2016-11-19 - Darth Vader
lkhlknlknlkn
2016-11-20 - Endomorph
adasdas
2016-11-20 - Endomorph
afasfs
2016-11-20 - Endomorph
dafsf
2016-11-20 - Endomorph
cvx
2015-11-02 - Endomorph
dsaf
2016-11-20 - Octospider
sdf
2016-11-20 - (none)
hihuh
2016-11-20 - (none)
jii
2016-11-20 - (none)
ijiji
2016-11-20 - (none)
hy
2016-11-20 - (none)
okoo
2016-11-20 - (none)
jjijij
2016-11-20 - (none)
huhuu
2016-11-20 - (none)
kokok
2016-11-20 - (none)
jnjnjn
2016-11-20 - (none)
jijij
2016-11-20 - (none)
l
2016-11-20 - (none)
l
2016-11-20 - (none)
l
2016-11-20 - Endomorph
ss
2016-11-20 - Endomorph
zxc
2015-11-02 - Endomorph
33
2016-11-20 - Yoda
Short and green but quite bendy.
2016-11-20 - Octospider
Hellowwefwefwefewf
2016-11-20 - Endomorph
asdasdasdasdad
2016-11-20 - Endomorph
sdfsdfsdf
2016-11-20 - Endomorph
dsfasdf
2016-11-20 - Endomorph
adsfadsf
2016-11-20 - Endomorph
dsafadsfa
2016-11-20 - Octospider
2313123fdasfasdfawer123
2016-11-20 - Octospider
1231231
2015-11-02 - Endomorph
12312312
2016-11-20 - Donald Trump
Deported him
2016-11-20 - Donald Trump
Made America Great Again.
2016-11-20 - Endomorph
kkiji
2016-11-20 - Yoda
Yoda did some yoga.
2016-11-20 - Special K
Took his honey.
2016-11-20 - (none)
mmm
2015-10-01 - Octospider
Web developer.
2016-11-20 - Octospider
12312321132
2015-11-02 - Endomorph
123123213123
2016-11-20 - Endomorph
hehe
2016-11-20 - Endomorph
mnmn
2016-11-20 - The Predator
What's this? A purple alien with a muffin-top belly!
2015-11-02 - Endomorph
mnm, m,
2016-11-20 - Endomorph
hjhjhhjh
2016-11-20 - Endomorph
21312312
2016-11-20 - Endomorph
Hi
2016-11-20 - Special K
dddd
2016-11-20 - Special K
eee
2015-11-02 - Special K
asfdsfasdfasd
2016-11-20 - Octospider
213123
2016-11-20 - Endomorph
wedsdssdsdss
2016-11-21 - Donald Trump
Build a wall.
2016-11-21 - The Predator
huehue
2016-11-21 - The Predator
kekekekeke
2015-11-02 - Endomorph
bhbhh
2016-11-21 - Endomorph
123123
2016-11-21 - Octospider
fdf
2015-11-02 - Donald Trump
dfrf
2016-11-21 - Octospider
2141241
2016-11-21 - Octospider
ere
2016 - 11 - 21 - Octospider
Was huuge!
2016-11-21 - Octospider
blech
2016 - 11 - 21 - Endomorph
drank in a pond
2016 - 11 - 21 - Endomorph
jumped from behind a rock
2016 - 11 - 21 - Octospider
Climbed over my laptop
2016-11-21 - Octospider
dfsdfsf
2016-11-21 - Special K
Punched
2016-11-21 - Special K
Punched
2016-11-21 - Special K
Punched
2016-11-21 - Special K
Punched
2016-11-21 - Special K
Punched
2015-11-02 - The Predator
Arnold used a gun and killed it.
2016-11-21 - Endomorph
lkjnkjn
2016-11-21 - Endomorph
Not much.
2015-10-01 - Octospider
Hello, I killed it
2015-10-01 - Octospider
Hello, I killed it
2016-11-21 - Endomorph
dacwecdew
2016-11-21 - Endomorph
ec
2016-11-21 - Endomorph
qwjgdt78iu
2016-10-22 - Special K
hhshhsjs
2016-10-22 - Endomorph
WOOOWWW
2016-11-23 - Endomorph
Looks Great Anna!
2016-11-23 - Endomorph
sdfsdf
2016-11-23 - The Predator
vsdvsd
2016-11-23 - Endomorph
Smokin Endo sippin' on Gin and Juice...
2016-11-23 - Octospider
Oh what a tangled web we weave...
2016-11-23 - Donald Trump
Destroyed Trump, saved Mars.
2016-11-23 - Yoda
Jedi master, he is.
2016 - 11 - 23 - Endomorph
fhl;sfjdsfnjkdsnfjksnfjklds
2016-11-23 - The Predator
Punched in the tentacles
2016-11-24 - Donald Trump
you're fiyad
2016-10-24 - Endomorph
kicked it
2016-10-24 - Darth Vader
sss
2016-11-24 - Octospider
Does whatever a spider can.
2016-11-25 - Donald Trump
built a wall
2016-11-26 - Donald Trump
Asked him to help me make this app great again.
2016-11-26 - Octospider
wedwedwd
2015-11-02 - Endomorph
qweqwe
2015-11-02 - Endomorph
qweqwe
2016-11-26 - Endomorph
wedsaasd
2016-11-28 - Octospider
123123123
2016-11-28 - Endomorph
mackqnkjkjsndf
2016-11-28 - The Predator
Ruuunnn
2016-11-28 - Octospider
sdsdf
2016-10-28 - Endomorph
SOmehting was done.
2015-11-02 - The Predator
blurb
2015-11-02 - Octospider
13sdfasdfa
2016-12-1 - Endomorph
sadfasdfasd
2016-12-1 - Octospider
dfadsfasdf
2016-12-1 - Octospider
dfadsfasdf
2016-12-1 - Endomorph
weqweqwe
2016-120-3 - Endomorph
Test
2016-11-7 - Special K
srdtfyguhiop[]'\ /.,mknjbhvcv bnm,l;'
2016-11-13 - Octospider
sdfsdfsdf
2016-12-18 - Endomorph
Hello there man
2016-12-21 - Endomorph
asdfjkl
2016-12-22 - Special K
Talked about interstellar politics.
2016-12-28 - Donald Trump
Still a douche
2016-12-29 - Octospider
It's big and hairy.
2017-01-09 - Octospider
Squashed it
2015-10-24 - Donald Trump
took away his twitter
2017-1-30 - Endomorph
ddd
2015-11-02 - Endomorph
Blarg
2017-2-13 - Special K
nnn
2017-2-13 - Special K
good
2017-2-14 - Octospider
dfasdfasdf
2015-11-02 - Octospider
-------
2017-02-24 - Yoda
Eating food
2017-2-24 - Donald Trump
Is a shit
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-11-02 - Donald Trump
Hello
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-10-01 - Octospider
Web developer.
2015-11-02 - Darth Vader
fafafa
2015-11-02 - Special K
fdsfsf
2015-11-02 - Octospider
sds
2015-11-02 - Endomorph
Kill da boi
2015-11-02 - Donald Trump
shook his hand...
2015-11-02 - Endomorph
njrel;nvj;renv;er2
2015-11-02 - Endomorph
ygjhf
2015-11-02 - The Predator
udjhghmgchg
    </p>
  </div>

  <div class="footer">
    <a routerLink="/report" class="report-link"> Report page </a>
  </div>
</div>