@import "../_mixin";
@import "../_variables";

.home {
    background: linear-gradient(rgba(50,50,50,1) 10%, rgba(187, 155, 113, 1));
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.title{
    @include text-contain;
    @include center;

    h1{
        @include title-text;
        text-transform: uppercase;
    }
}

.pulse-button{
    @include center;

    .shapes {
        
        .circle1 {
            @include center;
            width: 75px;
            height: 75px;
            border-radius: 50%;
            animation: pulse 3s infinite;
        }

        @keyframes pulse {
            25% { background-color: rgba(255,255,255,.05); box-shadow: 0px 0px 0px 30px rgba(255,255,255,0), 0px 0px 0px 50px rgba(255,255,255,0), 0px 0px 0px 70px rgba(255,255,255,.05); }

            50% { background-color: rgba(255,255,255,.05); box-shadow: 0px 0px 0px 30px rgba(255,255,255,0), 0px 0px 0px 50px rgba(255,255,255,.05), 0px 0px 0px 70px rgba(255,255,255,0); }

            75% { background-color: rgba(255,255,255,.05); box-shadow: 0px 0px 0px 30px rgba(255,255,255,.05), 0px 0px 0px 50px rgba(255,255,255,0), 0px 0px 0px 0px rgba(255,255,255,0); }

            100% { background-color: rgba(255,255,255,.05); box-shadow: 0px 0px 0px 30px rgba(255,255,255,0), 0px 0px 0px 0px rgba(255,255,255,0), 0px 0px 0px 0px rgba(255,255,255,0); }
        }
    }
}

.footer{
    @include text-contain;

    p {
        font-family: 'Roboto', sans-serif;
        font-size: 2rem;
        font-weight: 100;
        text-align: center;
        text-transform: uppercase;
    }
}