<div class="register">
	<div class="title">
		<p>register</p>
	</div>

	<form [formGroup]="registerForm" 
			class="register-form"
			[ngClass]="{'submitting': submitting}"
			(ngSubmit)="postNewColonist($event)">
		<fieldset class="select-options">
			<input type="text" placeholder="Name" formControlName="name" name="colonistName">
			<input type="number" placeholder="Age" formControlName="age" name="colonistAge">
			<select formControlName="job_id" name="job_id">
				<option value="">select occupation</option>
				<option *ngFor="let job of marsJobs" value="{{job.id}}">{{job.name}}</option>
			</select>
		</fieldset>
		<fieldset class="title">
			<button>Check in</button>
		</fieldset>
	</form>
</div>