@import "../_mixin";
@import "../_variables";

.register {
    height: 100vh;
    background: linear-gradient(rgba(50,50,50,1) 10%, rgba(187, 155, 113, 1));

    .submitting.ng-invalid{
        animation: alert .5s infinite;
        @include alert;
    }
}

.title {
    @include text-contain;
    @include center;

    p{
        @include title-text;

    }
    button {
        @extend p;
        text-decoration: none;
        color: white;
        margin: 0 auto;
    }
    a{
        color: white;
        text-decoration: none;
    }
}

.select-options {
    height: 170px;
    padding: 0 40px;
    padding-bottom: 100px;
    
    
    input {
        width: 100%;
        border: none;
        border-bottom: 1px solid white;
        background: 0 0;
        height: 30px;
        color: lightgrey;
        font-size: 1.5rem;
        text-transform: capitalize;
        margin-bottom: 30px;
    }

    input::placeholder {
        color:#f39c12;
    }

    select {
        width: 100%;
        -webkit-appearance: none;
        @include dropdown;
    }
  
    select::-ms-expand {
        display: none;
    }
    
}