<section>
	<form [formGroup]="registerForm" class="register-form" (ngSubmit)="postNewColonist($event)">
		<h1>register</h1>
		<fieldset class="select-options">
			<input type="text" placeholder="Name" formControlName="name" name="colonistName"[ngClass]="{'submitting': clickedButton}">
			<input type="number" placeholder="Age" formControlName="age" name="colonistAge"[ngClass]="{'submitting': clickedButton}">
			<select formControlName="job_id" name="job_id"[ngClass]="{'submitting': clickedButton}">
				<option value="">select occupation</option>
				<option *ngFor="let job of marsJobs" value="{{job.id}}">{{job.name}}</option>
			</select>
		</fieldset>
		<button>Check In</button>
	</form>
</section>