@import "../_mixin";
@import "../_variables";
@import "../app.component";

.submitting.ng-invalid {
    animation: alert .5s infinite;
    @include alert;
}

form {
    height: 100vh;
    @include even-center;
}


.select-options {
    width: 90%;
    
    input {
        width: 100%;
        border: none;
        border-bottom: 1px solid $second-color;
        background: 0 0;
        height: 30px;
        color: $second-color;
        font-size: 1.5rem;
        text-transform: capitalize;
        margin-bottom: 30px;
    }

    input::placeholder {
        color: $prime-color;
    }

    select, input:focus{
        outline: none;
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }

    select {
        width: 100%;
        color: $second-color;
        -webkit-appearance: none;
        @include dropdown;
    }
  
    select::-ms-expand {
        display: none;
    }
}

button {
    text-decoration: none;
    @include button;
    @include title-text;
}